@import "tailwindcss";

@theme inline {
  --color-surface: #fdf9f4;
  --color-inverse-surface: #31302d;
  --color-on-secondary: #ffffff;
  --color-inverse-on-surface: #f4f0eb;
  --color-error-container: #ffdad6;
  --color-inverse-primary: #ffb59f;
  --color-on-surface: #1c1c19;
  --color-secondary-fixed-dim: #d9b9ff;
  --color-outline-variant: #e3bfb4;
  --color-on-primary-fixed-variant: #852300;
  --color-background: #fdf9f4;
  --color-primary-fixed-dim: #ffb59f;
  --color-error: #ba1a1a;
  --color-tertiary-fixed: #cce5ff;
  --color-primary-container: #d2420c;
  --color-on-tertiary-fixed: #001e31;
  --color-on-primary: #ffffff;
  --color-on-tertiary-fixed-variant: #004b72;
  --color-on-primary-container: #fffbff;
  --color-tertiary: #006192;
  --color-surface-container-lowest: #ffffff;
  --color-surface-bright: #fdf9f4;
  --color-on-secondary-fixed: #2a0054;
  --color-surface-container: #f1ede8;
  --color-on-secondary-container: #552a87;
  --color-surface-container-high: #ece7e3;
  --color-surface-container-highest: #e6e2dd;
  --color-on-tertiary-container: #fcfcff;
  --color-on-primary-fixed: #3a0a00;
  --color-surface-dim: #ddd9d5;
  --color-outline: #8e7068;
  --color-secondary-fixed: #eedbff;
  --color-on-error-container: #93000a;
  --color-secondary: #7349a7;
  --color-surface-container-low: #f7f3ee;
  --color-surface-variant: #e6e2dd;
  --color-on-tertiary: #ffffff;
  --color-tertiary-container: #007bb8;
  --color-primary-fixed: #ffdbd0;
  --color-on-background: #1c1c19;
  --color-tertiary-fixed-dim: #91cdff;
  --color-on-secondary-fixed-variant: #5a308d;
  --color-secondary-container: #c79afd;
  --color-on-error: #ffffff;
  --color-surface-tint: #af3100;
  --color-on-surface-variant: #5a4139;
  --color-primary: #aa2f00;

  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
  --radius-DEFAULT: 0.125rem;

  --spacing-margin-md: 2rem;
  --spacing-space-xs: 0.25rem;
  --spacing-space-3xl: 4rem;
  --spacing-gutter-md: 1.5rem;
  --spacing-space-md: 0.875rem;
  --spacing-space-2xs: 0.125rem;
  --spacing-gutter: 1rem;
  --spacing-space-lg: 1.25rem;
  --spacing-space-xl: 1.75rem;
  --spacing-margin: 1.25rem;
  --spacing-space-sm: 0.5rem;
  --spacing-margin-lg: 3rem;
  --spacing-space-2xl: 2.5rem;

  --font-headline-lg-mobile: var(--font-jakarta);
  --font-code-pill: var(--font-jakarta);
  --font-display: var(--font-jakarta);
  --font-body-md: var(--font-jakarta);
  --font-label-sm: var(--font-jakarta);
  --font-headline-md: var(--font-jakarta);
  --font-headline-lg: var(--font-jakarta);
  --font-title-sm: var(--font-jakarta);
  --font-label-md: var(--font-jakarta);
  --font-body-sm: var(--font-jakarta);
  --font-body-lg: var(--font-jakarta);
}

@utility text-headline-lg-mobile {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.015em;
  font-weight: 600;
}

@utility text-code-pill {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.04em;
  font-weight: 600;
}

@utility text-display {
  font-size: 2.25rem;
  line-height: 2.75rem;
  letter-spacing: -0.02em;
  font-weight: 600;
}

@utility text-body-md {
  font-size: 0.9375rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  font-weight: 400;
}

@utility text-label-sm {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.01em;
  font-weight: 500;
}

@utility text-headline-md {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: -0.01em;
  font-weight: 500;
}

@utility text-headline-lg {
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: -0.015em;
  font-weight: 600;
}

@utility text-title-sm {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  font-weight: 600;
}

@utility text-label-md {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0;
  font-weight: 500;
}

@utility text-body-sm {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  letter-spacing: 0;
  font-weight: 400;
}

@utility text-body-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0;
  font-weight: 400;
}

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
  }
  body {
    overscroll-behavior: none;
    background: var(--color-background);
    color: var(--color-on-surface);
  }
  main > :first-child {
    margin-top: 0 !important;
  }
  main > :last-child {
    margin-bottom: 0 !important;
  }
}

::-webkit-scrollbar {
  display: none;
}
